<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
	<hr>
    <ul th:each="School : ${schools}">
		<li th:text="| School id : ${School.id} !|"> Zoob </li>
    	<li th:text="| School name : ${School.name} !|">Name</li>
		<li th:text="| School country : ${School.country} !|">Tete de mort</li>
		<li th:text="|  School capacity : ${School.capacity} !|">Tete de mort</li>
	</ul>
</body>
</html>
